:host {
  display: block;
}

.select {
  position: relative;
  display: block;
  padding: 0;
  border: 1px solid rgba(51,51,51,.1);
  font-size: 16px;
  font-size: 1rem;
  color: rgba(69, 69, 69, 0.85);

  &::after {
    position: absolute;
    top: 50%;
    right: .5em;
    margin-top: -.7em;
    padding: 0;
    background: none;
    font-style: normal;
    font-weight: normal;
    content: '\25BC';
    pointer-events: none;
    color: inherit;
    z-index: 1;
  }

  select {
    width: 100%;
    padding: .5em;
    border: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: window;
    appearance: none;
    font-size: 16px;
    font-size: 1rem;
    color: rgba(69, 69, 69, 0.85);

    &::-ms-expand {
      display: none;
    }
  }
}
